body {
  background-image: url(kara-eads-olvdBsHT1bA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  margin: 20px;
  padding: 10px;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
}
.text {
  color: rgb(132, 206, 240);
  background: black;
  padding: 10px;
  font-size: 2.5rem;
}
.aa {
  color: rgb(43, 138, 19);
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}
.inputs {
  padding: 10px;
  margin: 10px;
  width: 100px;
  margin: auto 35%;
  border: 2px solid black;
}
.dd {
  width: 100px;
  padding: 10px;
  background: rgb(6, 114, 24);
  margin: 10px 35%;
}
.ee {
  display: flex;
  margin-top: 40px;
}
.btns {
  cursor: pointer;
  background: rgb(101, 230, 62);
  color: rgb(15, 15, 15);
  font-weight: bold;
}
@media (max-width: 450px) {
  .text {
    font-size: 2rem;
  }
}
@media (max-width: 393px) {
  .text {
    font-size: 1.5rem;
  }
  .main {
    margin: 5px auto;
  }
}
@media (max-width: 585px) {
  .text {
    font-size: 2rem;
  }
}
